.progress-bar > .track {
  -fx-control-inner-background: #515b51;
}

.progress-bar .bar {
    -fx-background-color: #DAC6AC;

      /* this line is the background color of the bar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}